.product{
    &__card{
        text-align: center;
        &-image{
            background: #F1F2F3;
            width: 100%;
            padding: 30px 20px;
            margin-bottom: 20px;
            img{
                width: 80%;
                display: block;
                margin: 0 auto;
            }
        }
        &-text{
            padding: 0 18px;
            h3{
                font-size: 15px;
                font-weight: 600;
                line-height: 28px;
                color: $neutral_black;

            }
            p{
                font-size: 13px;
                color: $neutral_dark_gray;
                
            }
        }
    }
}