.confirmApp {
  background: #898989;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  position: fixed;
  
  &__container {
    background: white;
    width: 70vw;
    margin: 0 auto;
    padding: 32px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn-container {
    display: flex;
    gap: 20px;
  }
  &__grid {
    & p:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__div-left,
  &__div-right {
    p {
      span {
        font-weight: bolder;
      }
    }
  }
}
