
.features{
    padding-block: 60px;
    &__container{
        padding-inline: 180px;
        display: flex;
        justify-content: space-between;
    }

    &__card{
        display: flex;
        align-items: flex-start;
        img{
            margin-right: 20px;
        }
        &-text{
            h3{
                font-size: 16px;
                color: #232323;
            }
            p{
                font-size: 14px;
                color: #707070;
            }
        }
    }
}

.discount{
    &__container{
        padding-inline: 180px;
        display: flex;
        justify-content: space-between;
    }
    &__card{
        display: flex;
        &-one{
            flex: 1.1;
            background: $card-primary;
            img{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70%;
            }
        }
        &-two{
            flex: .9;
            background: $card-nuetral;

            img{
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 1;
            }
        }
        &-one, &-two{
            padding: 40px 30px;
            height: 500px;
            overflow: hidden;
            position: relative;

        }
    }
}

.store{
    &__container{
        padding-inline: 160px;
        display: flex;
        justify-content: space-between;
    }
    &__headline{
        width: 100%;
        text-align: center;
        padding: 80px 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}