.headline {
  font-family: "Inter", sans-serif;
  //styleName: Typography/Desktop/Heading 1/Bold;

  &-logo {
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    text-align: left;
  }
  &-tag {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: $neutral_black;
  }
  &-body {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #3a3a3a;
  }
  &-sub {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: $neutral_dark_gray;
  }
  &-1 {
    font-size: 54px;
    font-weight: 700;
    line-height: 76px;
    text-align: left;
    color: $neutral_black;
  }
  &-2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 66px;
    text-align: left;
    color: $neutral_black;
  }
  &-3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $neutral_black;
  }
  &-md {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4b4b4b;
  }
  &-head {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: #464646;
  }
  &-head-sub {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #707070;
  }
  &-semibold {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
  }
}
.md {
  font-family: "Inter", sans-serif;
  // Typography/Desktop/Medium/Bold

  &-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray-600;
  }
  &-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-800;
  }

  &-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $neutral_black;
  }
  &-semibold {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #1d2939;
  }
}
.sm {
  font-family: "Inter", sans-serif;

  &-semibold {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: $gray-800;
  }
  &-md {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray-700;
  }
  &-normal {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-500;
  }
}
.xs {
  font-family: "Inter", sans-serif;
  /* Display xs/Semibold */

  &-semibold {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $gray-800;
  }
  &-normal {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $gray-500;
  }
  &-bold {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $gray-800;
  }
}

.xl {
  font-family: "Inter";
  /* Display xl/Semibold */

  &-semibold {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: $gray-800;
  }
  &-bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $gray-900;
  }
}
.lg {
  font-family: "Inter";
  &-normal {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $gray-800;
  }
  &-md {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  &-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $gray-800;
  }
}
.body {
  font-family: "Inter";

  &-semibold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $gray-800;
  }
}
.mul {
  font-family: Mulish, "sans-serif";

  &-normal {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #333333;
  }
  &-light {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }
}
