$primary-90: #FEDC01;
$primary-80: #FEDD0B;
$primary-70: #FFE015;
$primary-60: #FFE11F;
$primary-50: #FFE229;
$primary-40: #FFE433;

$secondary-90: #FF0051;
$secondary-80: #FF0A58;
$secondary-70: #FF145F;
$secondary-60: #FF1E66;
$secondary-50: #FF296D;
$secondary-40: #FF3374;

$neutral_black: #212121;
$neutral_dark_gray: #4D4D4D;
$neutral_gray: #717171;
$neutral_light_gray: #89939E;
$neutral_gray_blue: #ABBED1;
$neutral_silver: #F5F7FA;
$neutral_white: #FFFFFF;

$gray-100: #f2f4f7;
$gray-300: #D0D5DD;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1D2939;
$gray-900: #101828;

$green-800: #095C37;

$warning-400: #FDB022;


$warning:"";
$danger:"";
$success:"";

$card-primary: #FFDABD;
$card-secondary: #FFF3BA;
$card-nuetral: #F1F2F3;
$card-light-red: #FFE8E8;