.address {
  margin-block: 80px;

  &__container {
    display: flex;
    gap: 20px;
    height: 697px;
  }
  &__left {
    flex: 0.6;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__right {
    flex: 0.4;
    position: relative;
  }
  &__common {
    padding-inline: 20px;
  }
  &__email {
    margin-left: 40px;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: last baseline;
    display: flex;
    gap: 3%;
    justify-content: space-between;
    button {
      width: 47%;
    }
  }
}

.service {
  padding-bottom: 400px;
  &__link {
    margin-right: 20px;

    &:hover,
    &:active {
      color: $secondary-90;
      text-decoration: underline;
    }
  }
  &__app-card {
    margin-top: 50px;

    &-container {
      height: 177px;
      border: 1px solid #89939e;
      box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 30px;
    }
    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.staff {
  padding-bottom: 400px;
  &__card {
    margin-top: 50px;

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #89939e;
      box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
      border-radius: 5px;
      padding: 20px 30px;
    }
    &-text {
      flex: 0.8;
    }
    &-img {
      flex: 0.2;

      &-cont {
        width: 192px;
        height: 169px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.appointment {
  &__header {
    display: flex;

    i {
      margin-right: 15px;
    }
  }
  &__time {
    width: 80%;
    margin: 0 auto;
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3px;
      padding: 10px 40px;
      margin-block: 10px;
    }
  }
  &__label-light {
    border: 0.5px solid #d8d8d8;
    background: #f3f7f9;
  }
  &__label-yellow {
    background: #ffe433;
  }
  &__time &__type {
    margin-top: 40px;
  }
  &__personal {
    width: 80%;
    margin: 0 auto;
    input {
      padding: 10px 16px;
      background: #f3f7f9;
      border: 0.5px solid #d8d8d8;
      border-radius: 6px;
      width: 100%;
      margin-bottom: 20px;
      outline: none;
    }
    textarea {
      background: #f3f7f9;
      border: 0.5px solid #d8d8d8;
      border-radius: 6px;
      width: 100%;
      min-height: 30px;
      padding: 10px 16px;
      outline: none;
    }
  }
}
